* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfdddd;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: black;
  margin-left: 5.5rem;
  margin-top: 2rem;
}

.category {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

a:focus {
  outline: none;
  color: inherit;
  box-shadow: none;
}

.cardd {
  margin-top: 2rem;
  margin-left: 2rem;
}

.img-2 {
  border: 2px solid rgb(83, 83, 252);
  border-radius: .2rem;
}

.infos {
  gap: 4rem;
}

.category a {
  text-decoration: none;
}